[submodule "submodules/stumpwm-themes"]
	path = submodules/stumpwm-themes
	url = https://github.com/ilshad/stumpwm-themes
[submodule "submodules/noche-diamante"]
	path = submodules/noche-diamante
	url = ssh://git@github.com/erjoalgo/noche-diamante
[submodule "submodules/complete-alias"]
	path = submodules/complete-alias
	url = https://github.com/erjoalgo/complete-alias
