[submodule "submodules/stumpwm-themes"]
	path = submodules/stumpwm-themes
	url = https://github.com/ilshad/stumpwm-themes
[submodule "submodules/complete-alias"]
	path = submodules/complete-alias
	url = https://github.com/erjoalgo/complete-alias
