[user]
  email = erjoalgo@gmail.com
  name = Ernesto Alfonso

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true

[branch]
  autosetupmerge = always

[core]
  hooksPath = .githooks/
[url "git@salsa.debian.org:installer-team/"]
	pushInsteadOf = https://salsa.debian.org/installer-team/
[safe]
	directory = /afs/asus.erjoalgo.com/home/ealfonso/git/3d
