[user]
  email = erjoalgo@gmail.com
  name = Ernesto Alfonso

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true

[branch]
  autosetupmerge = always

[core]
  hooksPath = .githooks/
